// Кнопки

.btn {

    &:link,
    &:visited {
        font-family: $ff-WorkSans;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        border-radius: 5px;
        display: inline-block;
        transition: all .3s;
    }

    &--white {
        padding: 1.2rem 4.7rem;
        color: $col-dark;
        background-color: $col-white;

        &:hover {
            background-color: #cccccc;
            transform: translateY(-5px);
            box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
        }

    }

    &--dark {
        padding: 1.2rem 2.95rem;
        color: $col-white;
        background-color: $col-dark-main;

        &:hover {
            background-color: $col-dark-hover;
            transform: translateY(-5px);
            box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
        }
    }

    &--team {
        text-align: center;

        @media (max-width:$res-450) {}
    }
}