// Колір

$col-green-main: #74C69D;
$col-dark-main: #212529;
$col-white: #FFF;
$col-dark: #000;
$col-dark-hover: #4d5154;
$col-white-hover: #cccccc;



// Шрифт

$ff-Crimson: 'Crimson Text', sans-serif;
$ff-WorkSans: 'Work Sans',
    sans-serif;


// Відступи

.mb-15 {
    margin-bottom: 1.5rem;
}

.mb-16 {
    margin-bottom: 1.6rem;
}

.mb-25 {
    margin-bottom: 2.5rem;
}

.mb-74 {
    margin-bottom: 7.4rem;

}