.site-name {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: var(--font-Roboto);
    color: var(--color-primary);

    &--white {
        color: var(--color-white);
    }
}

.nav-primary {
    list-style: none;
}

.btn:link,
.btn:visited,
.nav-element:link,
.nav-element:visited {
    text-decoration: none;
}

.nav-element {

    &:link,
    &:visited {
        font-size: 1.6rem;
        font-weight: 400;
        font-family: var(--font-Poppins);
        color: var(--font-dark);
    }

    &.nav-element--active {
        font-weight: 700 !important;
    }

}

.heading {

    &__small {
        font-size: 1.8rem;
        font-weight: 400;
        font-family: var(--font-Inter);
        color: var(--color-primary);
    }

    &__primary {
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 9.4rem;
        font-family: var(--font-Poppins);
        color: var(--font-primary);
    }

    &__text {
        font-family: var(--font-Poppins);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.7rem;
        color: var(--font-light);

    }

    &__blue {
        color: var(--color-primary);
        font-weight: 700;
    }

}

.play {

    &-text {
        font-family: var(--font-Inter);
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--font-primary);
    }
}

.text {

    &--small {
        font-family: var(--font-Inter);
        font-size: 1.8rem;
        font-weight: 400;
        color: var(--color-primary);

    }

    &--main {
        font-family: var(--font-Poppins);
        font-size: 4rem;
        font-weight: 700;
        line-height: 6rem;
        color: var(--font-primary);
    }

    &--info {
        font-family: var(--font-Poppins);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.7rem;
        color: var(--font-light);

    }
}

.feature {

    &__cards {

        &__title {
            font-family: var(--font-Inter);
            font-size: 1.8rem;
            font-weight: 700;
            color: var(--color-white);


        }

        &__text {
            font-family: var(--font-Poppins);
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 21px;
            color: #ddd;
        }
    }
}

.info {


    &__text {



        &--sub {
            font-family: var(--font-Inter);
            font-size: 1.8rem;
            font-weight: 400;

            &--yellow {
                color: var(--color-yellow);
            }

            &--blue {
                color: var(--color-primary);
            }
        }

        &--heading {
            font-family: var(--font-Poppins);
            font-size: 4rem;
            font-weight: 700;
            line-height: 6rem;

            &--white {
                color: var(--color-white);
            }

            &--dark {
                color: var(--font-primary);
            }
        }

        &--main {
            font-family: var(--font-Poppins);
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.7rem;

            &--white {
                color: #ddd;
            }

            &--light {
                color: var(--font-light);
            }



        }
    }
}

.information {
    &-number {
        font-family: var(--font-Inter);
        font-size: 2.4rem;
        font-weight: 700;
        color: var(--color-yellow);
    }

    &-text {
        font-family: var(--font-Inter);
        font-size: 1.8rem;
        font-weight: 400;
        color: #ddd;
    }
}

// Картчки 

.card {
    &-title {
        font-family: var(--font-Poppins);
        font-size: 2.2rem;
        font-weight: 700;
        color: var(--font-primary);

    }

    &-views {
        font-family: var(--font-Poppins);
        font-size: 1.3rem;
        font-weight: 400;
        color: var(--color-primary);

    }

    &-video,
    &-teacher {
        font-family: var(--font-Poppins);
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--font-light);
    }




}

// Відгуки 
.testemonial {



    &-heading {
        font-family: var(--font-Inter);
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
    }



    &-name {
        font-family: var(--font-Poppins);
        font-size: 1.8rem;
        font-weight: 700;
        text-align: left;
        color: black;

    }

    &-status {
        font-family: var(--font-Poppins);
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--font-light);

    }

    &-text {
        font-family: var(--font-Poppins);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 30px;

        text-align: left;

    }
}

// Footer

.footer {
    &-text {
        font-family: var(--font-Poppins);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #f4f4f4;

    }


}

.nav {
    &-heading {
        font-family: var(--font-Poppins);
        font-size: 1.8rem;
        font-weight: 700;
        text-align: left;
        color: var(--color-white);
        margin-bottom: 2.4rem;
    }

    &-list {
        display: flex;
        gap: 1.1rem;
        flex-direction: column;
    }

    &-item {
        font-family: var(--font-Poppins);
        font-size: 1.4rem;
        font-weight: 400;
        text-align: left;
        color: #f4f4f4;

    }
}