:root {
    --color-white: #fff;
    --backgroud-color: #F5F5F5;
    --color-primary: #545BE8;
    --color-primary-darken: #4349ba;
    --color-yellow: #F0C932;
    --color-footer: #393E46;
    --font-primary: #141E32;
    --font-secondary: #0D1222;
    --font-dark: #101928;
    --font-medium: #646464;
    --font-light: #969696;


    --font-Roboto: 'Roboto', sans-serif;
    --font-Poppins: 'Poppins', sans-serif;
    --font-Inter: 'Inter', sans-serif;

}